@using DomainLayer.DTOs.User
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<main class="client-page">
    <div class="container-content">

        <header><h2> بازیابی کلمه عبور</h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="ActiveCode"/>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور " aria-describedby="password">
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>
                
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>        
                <button class="btn btn-success"> ثبت تغییرات </button>

            </form>
        </div>

    </div>
</main>


