<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-end mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-1" style="margin-left: 10rem;">برگزار شده</h1>
                    <p>برنامه ها دوره های پیشین و آینده را می‌توانید در این بخش مشاهده کنید</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s"> 
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-primary" data-bs-toggle="pill" href="#tab-1">همه</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-primary" data-bs-toggle="pill" href="#tab-2">برنامه‌ها</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-primary" data-bs-toggle="pill" href="#tab-3">دوره‌ها</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="">
                                    <img class="img-fluid img-fluid-course" src="img/new pic/mount walk.jpg" alt="">
                                </a>
                                <div class="bg-danger rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    برگزار شده
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    <p class="text-decoration-line-through">10%</p>
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">1 روزه</h5>
                                <a class="d-block h5 mb-2" href="">کوهپیمایی</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>کوهستان 1</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center py-2"><i class="bi bi-info text-primary me-2"></i>جزئیات</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="">
                                    <img class="img-fluid img-fluid-course" src="img/new pic/bicycle.jpg" alt="">
                                </a>
                                <div class="bg-info rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    01/01/01
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    <p class="text-decoration-line-through">7%</p>
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">3 روزه</h5>
                                <a class="d-block h5 mb-2" href="">دوچرخه سواری</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>دشت 1</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center py-2"><i class="bi bi-info text-primary me-2"></i>جزئیات</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="">
                                    <img class="img-fluid img-fluid-course" src="img/new pic/nature.jpg" alt="">
                                </a>
                                <div class="bg-info rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    01/01/01
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    <p class="text-decoration-line-through">7%</p>
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">3 روزه</h5>
                                <a class="d-block h5 mb-2" href="">طبیعت گردی</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>جنگل 1</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center py-2"><i class="bi bi-info text-primary me-2"></i>جزئیات</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="">
                                    <img class="img-fluid img-fluid-course" src="img/new pic/rock walk.jpg" alt="">
                                </a>
                                <div class="bg-info rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    01/01/01
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    <p class="text-decoration-line-through">7%</p>
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">3 روزه</h5>
                                <a class="d-block h5 mb-2" href="">سنگ نوردی</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>پرتگاه 1</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center py-2"><i class="bi bi-info text-primary me-2"></i>جزئیات</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="">
                                    <img class="img-fluid img-fluid-course" src="img/new pic/images.jpg" alt="">
                                </a>
                                <div class="bg-info rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    01/01/01
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    <p class="text-decoration-line-through">7%</p>
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">3 روزه</h5>
                                <a class="d-block h5 mb-2" href="">آموزش دوچرخه سواری حرفه‌ای</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>آموزشگاه 1</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center py-2"><i class="bi bi-info text-primary me-2"></i>جزئیات</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="">
                                    <img class="img-fluid img-fluid-course" src="img/new pic/tr rockwalk.jpg" alt="">
                                </a>
                                <div class="bg-info rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    01/01/01
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    <p class="text-decoration-line-through">7%</p>
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">3 روزه</h5>
                                <a class="d-block h5 mb-2" href="">دوره آمادگی جسمانی سنگ نوردی</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>آموزشگاه 2</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center py-2"><i class="bi bi-info text-primary me-2"></i>جزئیات</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <div class="btn btn-primary py-3 px-5">موارد بیشتر...</div>
                </div>
            </div>
        </div>
    </div>
</div>