<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h3>راه های ارتباطی:</h3>
                </div>

                <div class="col-lg-6 col-md-6 footer-newsletter">
                    <a href="#" class="text-dark link-underline link-underline-opacity-0">
                        <i class="bi bi-instagram"></i>اینستاگرام: کلیک کنید
                    </a>
                    <br><br>
                    <a href="https://t.me/EverestClubb" class="text-dark link-underline link-underline-opacity-0">
                        <i class="bi bi-telegram"></i>تلگرام: کلیک کنید
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 footer-newsletter">
                    کلیه حقوق سایت متعلق به باشگاه کوهنوردی اورست می باشد. و هرگونه کپی برداری از آن پیگرد قانونی دارد.
                    <br> طراح: شرکت آلتون شهر فناوری
                </div>
            </div>
        </div>
    </div>
</footer>