@using DomainLayer.Entities
@model User
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div style="direction: rtl; padding:20px;">
    <h2>@Model.UserName عزیز!</h2>
    <p>جهت بازیابی رمز عبور خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="https://localhost:7239/Account/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>