<!-- background image -->
<div class="container-fluid bg-white my-1 p-0">
    <div class="position-relative">
        <img src="./img/main.jpg" class="bg-image img-fluid w-100">
    </div>
</div>
<!-- end background image -->