<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <h1 class="mb-1">مجله باشگاه</h1>
</div>
<div class="d-flex">
    <div class="col-6">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="img/new pic/bilding.jpg" alt="bilding">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">باشگاه آموزشی تفریحی</h1>
                        <p class="mb-4">مجموعه ما در تلاش است بهترین ها را برای شما فراهم کند</p>
                        <p><i class="fa fa-check text-primary me-3"></i>با مجرب ترین مربی ها و تور لیدر ها</p>
                        <p><i class="fa fa-check text-primary me-3"></i>بالا ترین سطح ایمنی در دوره ها و برنامه ها</p>
                        <p><i class="fa fa-check text-primary me-3"></i>همگام با متد روز دنیا در تمامی مراحل</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="img/new pic/bilding.jpg" alt="bilding">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">باشگاه آموزشی تفریحی</h1>
                        <p class="mb-4">مجموعه ما در تلاش است بهترین ها را برای شما فراهم کند</p>
                        <p><i class="fa fa-check text-primary me-3"></i>با مجرب ترین مربی ها و تور لیدر ها</p>
                        <p><i class="fa fa-check text-primary me-3"></i>بالا ترین سطح ایمنی در دوره ها و برنامه ها</p>
                        <p><i class="fa fa-check text-primary me-3"></i>همگام با متد روز دنیا در تمامی مراحل</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <div class="btn btn-primary py-3 px-5">موارد بيشتر ...</div>
</div>