<!-- Start Navbar -->
<nav class="navbar mb-5" style="text-align: left;">
    <img class="img-fluid" src="/img/Logo.jpg" alt="آیکون" style="width: 80px; height: 50px;">
    <ul class="nav-links">
        <i id="reservationIcon" class="bi bi-wallet-fill fa-2x"></i>
    </ul>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<!-- End Navbar -->