<div class="main-content" id="main-content">
    <div class="toggle-btn" onclick="toggleSidebar()">
        <i class="fas fa-chevron-left"></i>
    </div>

    <h3>به پنل کاربری خود خوش آمدید</h3>
    <p>این جا می‌توانید تمامی مدیریت‌ حیاب کاربری را انجام دهید.</p>

</div>