<div class="sidebar BTN-PANEL" id="sidebar" style="width: 250px;">
    <span class="close-btn" onclick="toggleSidebar()"><i class="fas fa-chevron-right"></i></span>
    <h2 style="margin-right: 1rem; background-color: #812900; width: 20rem; height: 2rem; border-radius: 5rem;"><span style="margin-right: 2rem;">پنل کاربری</span></h2>
    <img src="./img/main.jpg" style="width: 7rem; height: 7rem; margin-right: 2rem; border-radius:100%;" alt="User Avatar" class="">
    <h3 class="dropdown-item-title">
        حسام موسوی
        <span class="float-left text-sm text-danger"><i class="fa fa-star"></i></span>
    </h3>

    <a href="#" class="nav-link" onclick="toggleSubMenu()">داشبورد<span class="fas fa-chevron-down ms-2"></span></a>
    <div class="sub-menu" id="sub-menu" style="display: block;">
        <a asp-area="User" asp-controller="Home" asp-action="EditUserInformation" class="nav-link ms-3">ویرایش اطلاعات</a>
        <a asp-area="User" asp-controller="Home" asp-action="GetUserCourses" class="nav-link ms-3">دوره‌های من</a>
        <a asp-area="User" asp-controller="Home" asp-action="GetUserProgs" class="nav-link ms-3">برنامه‌های من</a>
        <a href="#" class="nav-link ms-3">سبد خرید</a>
    </div>
    <a href="/" class="nav-link">بازگشت به صفحه اصلی</a>
</div>