@using DomainLayer.DTOs.User
@model EditUserInformationViewModel
@{
    ViewData["Title"] = "ویرایش اطلاعات";
}

<h1>ویرایش اطلاعات</h1>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@if (!string.IsNullOrEmpty(ViewBag.error))
{
    <div class="alert alert-danger">
        @ViewBag.error
    </div>
}

@if (ViewBag.IsSuccess != null)
{
    <div class="alert alert-success">
        <p class="help-block">ویرایش اطلاعات با موفقیت انجام شد</p>
    </div>

    <script>
        // Your delay in milliseconds
        var delay = 3000;
        setTimeout(function () { window.location = "https://localhost:7154/User/Home/Index"; }, delay);
    </script>
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header BTN-PANEL text-white">اطلاعات کاربر</div>
            <div class="card-body">
                <form asp-area="User" asp-controller="Home" asp-action="EditUserInformation" method="POST" enctype="multipart/form-data">
                    <!-- Id Field (Hidden) -->
                    <input asp-for="UserImage" type="hidden" />

                    <!-- نام کاربری -->
                    <div class="form-group">
                        <label asp-for="UserName" for="UserName">نام کاربری : @Model.UserName</label>
                        <input asp-for="UserName" type="hidden" class="form-control" id="UserName" name="UserName" />
                    </div>

                    <!-- نام -->
                    <div class="form-group">
                        <label asp-for="FirstName" for="FirstName">نام</label>
                        <input asp-for="FirstName" type="text" class="form-control" id="FirstName" name="FirstName" placeholder="نام خود را وارد کنید" required="">
                    </div>

                    <!-- نام خانوادگی -->
                    <div class="form-group">
                        <label asp-for="LastName" for="LastName">نام خانوادگی</label>
                        <input asp-for="LastName" type="text" class="form-control" id="LastName" name="LastName" placeholder="نام خانوادگی خود را وارد کنید" required="">
                    </div>

                    <!-- ایمیل -->
                    <div class="form-group">
                        <label asp-for="Email" for="Email">ایمیل</label>
                        <input asp-for="Email" type="text" class="form-control" id="Email" name="Email" placeholder="ایمیل خود را وارد کنید" required="">
                    </div>

                    <!-- شماره تلفن -->
                    <div class="form-group">
                        <label asp-for="PhoneNumber" for="PhoneNumber">شماره تلفن</label>
                        <input asp-for="PhoneNumber" type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="شماره تلفن خود را وارد کنید" required="">
                    </div>

                    <!-- کد ملی -->
                    <div class="form-group">
                        <label asp-for="NationalCode" for="NationalCode">کد ملی</label>
                        <input asp-for="NationalCode" type="text" class="form-control" id="NationalCode" name="NationalCode" placeholder="کد ملی خود را وارد کنید" required="">
                    </div>

                    <!-- تاریخ تولد -->
                    <div class="form-group">
                        <label asp-for="BirthdayDate" for="BirthdayDate">تاریخ تولد</label>
                        <input asp-for="BirthdayDate" type="date" class="form-control" id="BirthdayDate" name="BirthdayDate" placeholder="کد ملی خود را وارد کنید" required="">
                    </div>

                    <!-- عکس پروفایل -->
                    <div class="form-group">
                        <label for="ProfileImage">عکس پروفایل</label>
                        <br>
                        <div class="profile-image-container">
                            <img id="profileImagePreview" src="/UserAvatar/@Model.UserImage" alt="Profile Image" class="profile-image mt-2 mb-2">
                            <input asp-for="ImageName" type="file" class="form-control-file" id="ProfileImage" src="/UserAvatar/Default.jpg" style="display: none;">
                            <button for="ImageName" class="Btn-Image" type="button" onclick="document.getElementById('ProfileImage').click()">تغییر تصویر</button>
                        </div>
                    </div>
                    <!-- دکمه ذخیره -->
                    <button type="submit" class="btn btn-primary mt-3 BTN-PANEL mt-5">ذخیره تغییرات</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#profileImagePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ProfileImage").change(function() {
        readURL(this);
    });
</script>
}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var birthDayDateInput = document.getElementById("BirthDayDate");
        var birthDayDate = new Date(birthDayDateInput.value);
        var formattedDate = birthDayDate.getFullYear() + '/' + ('0' + (birthDayDate.getMonth() + 1)).slice(-2) + '/' + ('0' + birthDayDate.getDate()).slice(-2);
        birthDayDateInput.value = formattedDate;
    });
</script>