
@{
    ViewData["Title"] = "جذف دوره";
}

<h1>حذف دوره از لیست دوره ها</h1>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
        <div class="alert alert-success">
        @ViewBag.Message
        </div>
}

@if (!string.IsNullOrEmpty(ViewBag.error))
{
        <div class="alert alert-danger">
        @ViewBag.error
        </div>
}

<script>
    // Your delay in milliseconds
    var delay = 3000;
    setTimeout(function () { window.location = "https://localhost:7154/User/Home/GetUserCourses/"; }, delay);
</script>