<!-- Start Menubar -->

<div class="sidebar BTN-PANEL" id="sidebar">
    <span class="close-btn" onclick="toggleSidebar()"><i class="fas fa-chevron-right"></i></span>
    <h2 style="margin-right: 1rem; background-color: #812900; width: 20rem; height: 2rem; border-radius: 5rem;">
        <span style="margin-right: 2rem;">پنل مدیریت</span>
    </h2>
    <img src="/img/main.jpg" style="width: 7rem; height: 7rem; margin-right: 2rem; border-radius:100%;"
         alt="User Avatar" class="">
    <h3 class="dropdown-item-title">
        حسام موسوی
        <span class="float-left text-sm text-danger"><i class="fa fa-star"></i></span>
    </h3>

    <a href="#" class="nav-link" onclick="toggleSubMenu()">داشبورد<span class="fas fa-chevron-down ms-2"></span></a>
    <div class="sub-menu" id="sub-menu" style="display: none;">
        <a href="#" class="nav-link ms-3">ویرایش اطلاعات</a>
        <a href="/Admin/Admin/GetPagedList" class="nav-link ms-3">مدیریت کاربران</a>
        <a href="/Admin/Course/GetPagedList" class="nav-link ms-3">مدیریت دوره ها</a>
        <a href="/Admin/Prog/GetPagedList" class="nav-link ms-3"> مدیریت برنامه ها</a>
        <a asp-area="Admin" asp-controller="Journal" asp-action="GetPagedList" class="nav-link ms-3">مدیریت مجله باشگاه</a>
        <a href="/Admin/Report/GetPagedList" class="nav-link ms-3"> مدیریت گزارش ها</a>
        <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="nav-link ms-3"> مدیریت نقش ها</a>
        <a href="#" class="nav-link ms-3">مدیریت نظرات</a>
    </div>
    <a href="/" class="nav-link">بازگشت به صفحه اصلی</a>
</div>

<!-- End Menubar -->